In [15]:
import pandas as pd
import urllib.request
print('Setup Complete')

Setup Complete

In [5]:
from prefect.orion.schemas.schedules import CronSchedule

In [16]:
# parameters
color = "yellow"
year = 2019
month = 5

dataset_file = f'{color}_tripdata_{year}-{month:02}'
dataset_url = f'https://d37ci6vzurychx.cloudfront.net/trip-data/{dataset_file}.parquet'
filename, _ = urllib.request.urlretrieve(dataset_url)
df = pd.read_parquet(filename)
df.head()

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge,airport_fee
0,1,2019-05-01 00:14:50,2019-05-01 00:16:48,1.0,0.0,1.0,N,145,145,2,3.0,0.5,0.5,0.0,0.0,0.3,4.3,0.0,None
1,1,2019-05-01 00:35:54,2019-05-01 00:37:27,1.0,1.5,1.0,N,145,145,2,3.0,0.5,0.5,0.0,0.0,0.3,4.3,0.0,None
2,1,2019-05-01 00:37:45,2019-05-01 00:37:49,1.0,1.5,1.0,N,145,145,2,2.5,0.5,0.5,0.0,0.0,0.3,3.8,0.0,None
3,1,2019-05-01 00:44:57,2019-05-01 00:50:11,1.0,0.7,1.0,N,161,161,2,5.0,3.0,0.5,0.0,0.0,0.3,8.8,2.5,None
4,1,2019-05-01 00:59:48,2019-05-01 01:10:22,1.0,2.0,1.0,N,163,141,1,9.5,3.0,0.5,2.0,0.0,0.3,15.3,2.5,None

In [21]:
import os
from pathlib import Path, PosixPath

def write_local(df: pd.DataFrame, color: str, dataset_file: str) -> Path:
    directory = PosixPath(f"data/data/{color}")
    path_name = directory/f"{dataset_file}.parquet"
    try:
        os.makedirs(directory, exist_ok=True,)
        df.to_parquet(path_name, compression="gzip")
    except OSError as error:
        print(error)
    return path_name

write_local(df=df[:100], color="yellow", dataset_file=dataset_file)

PosixPath('data/data/yellow/yellow_tripdata_2019-05.parquet')

In [24]:
type(write_local)

function

In [5]:
df.head()

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge,airport_fee
0,1,2019-02-01 00:59:04,2019-02-01 01:07:27,1.0,2.1,1.0,N,48,234,1,9.0,0.5,0.5,2.0,0.0,0.3,12.3,0.0,None
1,1,2019-02-01 00:33:09,2019-02-01 01:03:58,1.0,9.8,1.0,N,230,93,2,32.0,0.5,0.5,0.0,0.0,0.3,33.3,0.0,None
2,1,2019-02-01 00:09:03,2019-02-01 00:09:16,1.0,0.0,1.0,N,145,145,2,2.5,0.5,0.5,0.0,0.0,0.3,3.8,0.0,None
3,1,2019-02-01 00:45:38,2019-02-01 00:51:10,1.0,0.8,1.0,N,95,95,2,5.5,0.5,0.5,0.0,0.0,0.3,6.8,0.0,None
4,1,2019-02-01 00:25:30,2019-02-01 00:28:14,1.0,0.8,1.0,N,140,263,2,5.0,0.5,0.5,0.0,0.0,0.3,6.3,0.0,None

In [6]:
df_tweak = df[:100].assign(
        pickup_date= pd.to_datetime(df[df.columns[1]].dt.normalize(), utc=True),
        dropoff_date= pd.to_datetime(df[df.columns[2]].dt.normalize(), utc=True),
    )
df_tweak['pickup_date'].head()

0   2019-02-01 00:00:00+00:00
1   2019-02-01 00:00:00+00:00
2   2019-02-01 00:00:00+00:00
3   2019-02-01 00:00:00+00:00
4   2019-02-01 00:00:00+00:00
Name: pickup_date, dtype: datetime64[ns, UTC]

In [59]:
df_tweak.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 21 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   VendorID               100 non-null    int64
 1   tpep_pickup_datetime   100 non-null    datetime64[ns]
 2   tpep_dropoff_datetime  100 non-null    datetime64[ns]
 3   passenger_count        100 non-null    float64
 4   trip_distance          100 non-null    float64
 5   RatecodeID             100 non-null    float64
 6   store_and_fwd_flag     100 non-null    object
 7   PULocationID           100 non-null    int64
 8   DOLocationID           100 non-null    int64
 9   payment_type           100 non-null    int64
 10  fare_amount            100 non-null    float64
 11  extra                  100 non-null    float64
 12  mta_tax                100 non-null    float64
 13  tip_amount             100 non-null    float64
 14  tolls_amount           100 non-null    float64
 15  improvement_surcharge  100 non-null    float64
 16  total_amount           100 non-null    float64
 17  congestion_surcharge   100 non-null    float64
 18  airport_fee            0 non-null      object
 19  pickup_date            100 non-null    datetime64[ns]
 20  dropoff_date           100 non-null    datetime64[ns]
dtypes: datetime64[ns](4), float64(11), int64(4), object(2)
memory usage: 16.5+ KB

In [22]:
df.columns[1]

'tpep_pickup_datetime'

In [20]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7049370 entries, 0 to 7049369
Data columns (total 19 columns):
 #   Column                 Dtype
---  ------                 -----
 0   VendorID               int64
 1   tpep_pickup_datetime   datetime64[ns]
 2   tpep_dropoff_datetime  datetime64[ns]
 3   passenger_count        float64
 4   trip_distance          float64
 5   RatecodeID             float64
 6   store_and_fwd_flag     object
 7   PULocationID           int64
 8   DOLocationID           int64
 9   payment_type           int64
 10  fare_amount            float64
 11  extra                  float64
 12  mta_tax                float64
 13  tip_amount             float64
 14  tolls_amount           float64
 15  improvement_surcharge  float64
 16  total_amount           float64
 17  congestion_surcharge   float64
 18  airport_fee            object
dtypes: datetime64[ns](2), float64(11), int64(4), object(2)
memory usage: 1021.9+ MB

In [23]:
# parameters
color = "yellow"
year = 2019
month = 3

dataset_file = f'{color}_tripdata_{year}-{month:02}'
dataset_url = f'https://d37ci6vzurychx.cloudfront.net/trip-data/{dataset_file}.parquet'
filename, _ = urllib.request.urlretrieve(dataset_url)
df = pd.read_parquet(filename)
df.shape

(7866620, 19)

In [29]:
df_tweak = df.assign(
        pickup_date=df['tpep_pickup_datetime'].dt.date,
        dropoff_date=df['tpep_dropoff_datetime'].dt.date 
    )
df_tweak

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,...,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge,airport_fee,pickup_date,dropoff_date
0,1,2021-01-01 00:30:10,2021-01-01 00:36:12,1.0,2.10,1.0,N,142,43,2,...,3.00,0.5,0.00,0.00,0.3,11.80,2.5,NaN,2021-01-01,2021-01-01
1,1,2021-01-01 00:51:20,2021-01-01 00:52:19,1.0,0.20,1.0,N,238,151,2,...,0.50,0.5,0.00,0.00,0.3,4.30,0.0,NaN,2021-01-01,2021-01-01
2,1,2021-01-01 00:43:30,2021-01-01 01:11:06,1.0,14.70,1.0,N,132,165,1,...,0.50,0.5,8.65,0.00,0.3,51.95,0.0,NaN,2021-01-01,2021-01-01
3,1,2021-01-01 00:15:48,2021-01-01 00:31:01,0.0,10.60,1.0,N,138,132,1,...,0.50,0.5,6.05,0.00,0.3,36.35,0.0,NaN,2021-01-01,2021-01-01
4,2,2021-01-01 00:31:49,2021-01-01 00:48:21,1.0,4.94,1.0,N,68,33,1,...,0.50,0.5,4.06,0.00,0.3,24.36,2.5,NaN,2021-01-01,2021-01-01
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1369764,2,2021-01-31 23:03:00,2021-01-31 23:33:00,NaN,8.89,NaN,None,229,181,0,...,0.00,0.5,7.46,0.00,0.3,38.54,NaN,NaN,2021-01-31,2021-01-31
1369765,2,2021-01-31 23:29:00,2021-01-31 23:51:00,NaN,7.43,NaN,None,41,70,0,...,0.00,0.5,0.00,6.12,0.3,39.50,NaN,NaN,2021-01-31,2021-01-31
1369766,2,2021-01-31 23:25:00,2021-01-31 23:38:00,NaN,6.26,NaN,None,74,137,0,...,0.00,0.5,3.90,0.00,0.3,24.05,NaN,NaN,2021-01-31,2021-01-31
1369767,6,2021-01-31 23:01:06,2021-02-01 00:02:03,NaN,19.70,NaN,None,265,188,0,...,0.00,0.5,0.00,0.00,0.3,54.48,NaN,NaN,2021-01-31,2021-02-01
1369768,2,2021-01-31 23:08:29,2021-01-31 23:31:22,NaN,4.68,NaN,None,89,61,0,...,2.75,0.5,0.00,0.00,0.3,29.00,NaN,NaN,2021-01-31,2021-01-31

In [12]:
from pathlib import Path, PurePath
path_name = PurePath(f"/data/{color}/{dataset_file}.parquet")
print(path_name)

/data/yellow/yellow_tripdata_2021-01.parquet

In [41]:
count_isna = df.passenger_count.isna().sum()
count_isna

98352

In [40]:
df.fillna(value={'passenger_count':0})

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge,airport_fee
0,1,2021-01-01 00:30:10,2021-01-01 00:36:12,1.0,2.10,1.0,N,142,43,2,8.00,3.00,0.5,0.00,0.00,0.3,11.80,2.5,NaN
1,1,2021-01-01 00:51:20,2021-01-01 00:52:19,1.0,0.20,1.0,N,238,151,2,3.00,0.50,0.5,0.00,0.00,0.3,4.30,0.0,NaN
2,1,2021-01-01 00:43:30,2021-01-01 01:11:06,1.0,14.70,1.0,N,132,165,1,42.00,0.50,0.5,8.65,0.00,0.3,51.95,0.0,NaN
3,1,2021-01-01 00:15:48,2021-01-01 00:31:01,0.0,10.60,1.0,N,138,132,1,29.00,0.50,0.5,6.05,0.00,0.3,36.35,0.0,NaN
4,2,2021-01-01 00:31:49,2021-01-01 00:48:21,1.0,4.94,1.0,N,68,33,1,16.50,0.50,0.5,4.06,0.00,0.3,24.36,2.5,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1369764,2,2021-01-31 23:03:00,2021-01-31 23:33:00,0.0,8.89,NaN,None,229,181,0,27.78,0.00,0.5,7.46,0.00,0.3,38.54,NaN,NaN
1369765,2,2021-01-31 23:29:00,2021-01-31 23:51:00,0.0,7.43,NaN,None,41,70,0,32.58,0.00,0.5,0.00,6.12,0.3,39.50,NaN,NaN
1369766,2,2021-01-31 23:25:00,2021-01-31 23:38:00,0.0,6.26,NaN,None,74,137,0,16.85,0.00,0.5,3.90,0.00,0.3,24.05,NaN,NaN
1369767,6,2021-01-31 23:01:06,2021-02-01 00:02:03,0.0,19.70,NaN,None,265,188,0,53.68,0.00,0.5,0.00,0.00,0.3,54.48,NaN,NaN
1369768,2,2021-01-31 23:08:29,2021-01-31 23:31:22,0.0,4.68,NaN,None,89,61,0,25.45,2.75,0.5,0.00,0.00,0.3,29.00,NaN,NaN

In [14]:
def etl_web_to_gcs(color, year, month):
    print(f'testing {color}-{year}-{month}')
    return

def etl_parent_flow(
    color: str = "yellow", year: int = 2021, months: list[int] = [1, 2]
):
    for month in months:
        etl_web_to_gcs(color, year, month)

In [17]:
df.dtypes.count()

20

In [15]:
etl_parent_flow(color="brown", year=2020, months=[1,2])

testing brown-2020-1
testing brown-2020-2

In [7]:
import os
from pathlib import Path

def write_local(color: str) -> Path:
    try:
        create_dir = os.mkdir(f"data/{color}",)
        path_name = Path(f"{create_dir}/test.txt")
    except OSError as error:
        print(error)
    
write_local(color="blue")

In [ ]:
@task(log_prints=True, name="write-to-local-file")
def write_local(df: pd.DataFrame, color: str, dataset_file: str) -> Path:
    try:
        create_dir = os.mkdir(f"data/{color}")
        path_name = Path(f"{create_dir}/{dataset_file}.parquet")
        df.to_parquet(path_name, compression="gzip")
    except OSError as error:
        print(error)